@import url("https://fonts.googleapis.com/css?family=Cute+Font|Merienda");
@import url("https://fonts.googleapis.com/css?family=Akronim");
*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#first{
    padding-top: 14%;
    margin-bottom: 30px;
}
#hed{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;   
}
h6{height: 1vh;}
#about{
    margin-top: 50px;
    margin-bottom: 50px;
}
.resize{
    font-size: cal(2vh + 2vw + 1m);
}
#about,#service,#pple,.specific,#contact,.footer p{font-family: 'Merienda', cursive;}
.col-md-12{
    width: 100%;
    color: #fff;
    font-family: 'Akronim', cursive;
    font-size: calc(1vw + 1vh + .5vmin); 
    font-size: 1.1em;
}